<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<style>
		p {
			color: red;
		}
</style>

<body>
		<input type="text" id="idHero">
		<button>push</button>
		<h3>Name</h3>
		<p id="name1"></p>
		<p id="name2"></p>
		<p id="name3"></p>
		<p id="name4"></p>

		<h3>intelligence</h3>
		<p id="intelligence1"></p>
		<p id="intelligence2"></p>
		<p id="intelligence3"></p>
		<p id="intelligence4"></p>

		<h3>strength</h3>
		<p id="strength1"></p>
		<p id="strength2"></p>
		<p id="strength3"></p>
		<p id="strength4"></p>

		<h3>speed</h3>
		<p id="speed1"></p>
		<p id="speed2"></p>
		<p id="speed3"></p>
		<p id="speed4"></p>

		<h3>durability</h3>
		<p id="durability"></p>

		<h3>power</h3>
		<p id="power"></p>

		<h3>combat</h3>
		<p id="combat"></p>

		<p>index2</p>
		<br>
		<a href="/">index1</a>
		<br>
		<a href="/index2">index2</a>
		<br>
		<a href="/index3">index3</a>
		<script src="javascript/main.js"></script>
</body>
</html>