<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Nosifer|Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<section id="Welcome">
		<div class="container text-center">
			<header>
				<h1>Super fight</h1>
				<h2>Welcome Heroes</h2>
			</header>
			<div class="block--white toggle">
				<p>Es tu prêt à en découdre?</p>
				<p>Bienvenue dans l'univers impitoyable des Super Heros. Tu vas affronter un Super Hero, alors choisis d'abord ton arène parmi les quatres disponibles. Ensuite, choisis bien ton Super Hero parmi les quatres proposés spécialement pour toi pendant que ton adversaire choisit le sien.<br> <br><strong>Tiens toi prêt et évite de prendre une raclée !</strong></p>
			</div>
			<a href="#Choose" class="button toggle" title="Start">Start</a>
		</div>
	</section>

	<section id="Choose">
		<div class="container">
			<div id="Choose_arena">
				<header class="text-center">
					<h2>Choisis ton Arène&nbsp;:</h2>
				</header>
				<div class="row" id="arena_select">
					<div class="col-6 col-sm-3">
						<img src="img/backgrounds/background_01.png" alt="background view" id="background_01" class="img-fluid arena">
					</div>
					<div class="col-6 col-sm-3">
						<img src="img/backgrounds/background_02.png" alt="background view" id="background_02" class="img-fluid arena">
					</div>
					<div class="col-6 col-sm-3">
						<img src="img/backgrounds/background_03.png" alt="background view" id="background_03" class="img-fluid arena">
					</div>
					<div class="col-6 col-sm-3">
						<img src="img/backgrounds/background_04.png" alt="background view" id="background_04" class="img-fluid arena">
					</div>
				</div>
			</div>
			<div id="Choose_fighter">
				<header class="text-center">
					<h2>Choisis ton Super Hero&nbsp;:</h2>
				</header>
				<div class="row">
					<div class="col-md-4">
						<h2>Joueur 1</h2>
					</div>
					<div class="col-md-4 offset-md-4">
						<h2>Joueur 2</h2>
					</div>
				</div>
				<div class="row justify-content-between">

					 <!-- 1 -->
			         <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP1" src="" alt="">
			          </a>
			        </div>
			    <!-- 2 -->
			         <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP1" src="http://placehold.it/600x600" alt="">
			          </a>
			        </div>
			    <!-- 3 -->
			         <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP1" src="http://placehold.it/600x600" alt="">
			          </a>
			        </div>
			    <!-- 4 -->
			          <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP1" src="http://placehold.it/600x600" alt="">
			          </a>
			        </div>
			    <!-- inter -->
			         <div class="col-4">
			          
			       
			        </div>
			    <!-- 5 -->
			          <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP2" src="http://placehold.it/600x600" alt="">
			          </a>
			        </div>
			    <!-- 6 -->
			          <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP2" src="http://placehold.it/600x600" alt="">
			          </a>
			        </div>
			    <!-- 7 -->
			         <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP2" src="http://placehold.it/600x600" alt="">
			          </a>
			        </div>
			    <!-- 8 -->
			          <div class="col-1">
			          <a href="#" >
			            <img class="img-fluid img-thumbnail forP2" src="http://placehold.it/600x600" alt="">
			          </a>
			        </div>

				</div>
			</div>
		</div>
	</section>
	<section id="Fight">
		<div class="container-fluid">
			<a href="#Fight" class="button" id="Start_fight" title="Start">Start</a>
			<img src="" class="fighter" id="fighter_01">
			<img src="" class="fighter" id="fighter_02">
		</div>
	</section>
	<section id="gamePad" class="container-fluid">
		<div id="gamepadP1">
			<img src="img/btnFist.png" alt="pad1" class="img-fluid  gamePad-btn" id="padPlayer1_fist">
			<img src="img/btnDoodge.png" alt="pad2" class="img-fluid gamePad-btn" id="padPlayer1_doodge">
			<img src="img/btnKick.png" alt="pad3" class="img-fluid gamePad-btn" id="padPlayer1_kick">
		</div>
			<div id="gamepadP2">
			<img src="img/btnKick.png" alt="pad3" class="img-fluid gamePad-btn" id="padPlayer2_kick">
			<img src="img/btnDoodge.png" alt="pad2" class="img-fluid gamePad-btn" id="padPlayer2_doodge">
			<img src="img/btnFist.png" alt="pad1" class="img-fluid gamePad-btn" id="padPlayer2_fist">
			
		</div>
	</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="javascript/chooseArena.js"></script>
<script type="text/javascript" src="javascript/choosePlayer.js"></script>

</body>
</html>