<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Bienvenu sur notre site</h1>
	<h2>Ceci est la page d'accueil</h2>
	<br>
	<a href="/">page home</a>
	<br>
	<a href="/about">page about</a>
	<br>
	<a href="/coucou">page coucou</a>
	<br>
	<a href="/bonjour">page bonjour</a>
	<br>
	<a href="/superMiddleware">page superMiddleware</a>

	<form action="/" method="post">
		<label for="name">name</label>
		<input type="text" id="name" name="name">
		<br>
		<label for="lastname">lastname</label>
		<input type="text" id="lastname" name="lastname">
		<br>
		<input type="submit">
	</form>
</body>
</html>