/*
typographies

titles : font-family: 'Press Start 2P', cursive;
texts : font-family: 'Share Tech Mono', monospace;;
finish : font-family: 'Nosifer', cursive;
*/


/* Typographies */
h1, h2 {
	font-family: 'Press Start 2P', cursive;
}
h1 {
	font-size: 5em;
	text-transform: uppercase;
}

.Game-over {
	font-family: 'Nosifer', cursive;
}

p {
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.6em;
}


/* Block */
section:not(#Fight) {
	padding: 5em 0;
}

.block--white {
	background-color: white;
	margin: 5em 0;
}

/* Section Welcome */
.button {
	display: block;
	padding: 2em;
	background-color: red;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
}

/* Section Choose */
section#Choose #Choose_fighter {
	display: none;
}

/* Section Fight */
section#Fight {
	position: relative;
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    min-height: 600px;
    display: none;
    justify-content: center;
    align-items: center;
}

section#Fight img.fighter {
	position: absolute;
	bottom: 0
}

section#Fight img#fighter_01 {
	left: 0;
}
section#Fight img#fighter_02  {
	left: 90%;
}

section#Fight #Start-fight {
	width: 20%;
	text-align: center;
	margin: 0 auto;
	display: none;
}
